# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
# amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

google-services.json
/ios
/android
.env
data/central.json
data/north.json
data/south.json
data/west.json
data/east.json
data/MishigamiAreas.json
data/chapter0.json
data/chapter1.json
data/chapter2.json
data/chapter3.json
data/chapter4.json
data/chapter5.json
data/chapter6.json
data/chapter7.json
data/chapter8.json
data/chapter9.json
data/chapter10.json
data/chapter11.json
data/chapter12.json
data/chapter13.json
data/chapter14.json
data/chapter15.json
data/chapter16.json
data/chapter17.json
data/chapter18.json
data/chapter19.json
data/chapter20.json
data/chapter21.json
data/chapter22.json
data/chapter23.json
data/chapter24.json
data/MishigamiAreas.geojson
data/MishigamiChapters.geojson
